
.projects {
    background: black;
    color: white;
    height: 1250px;
}

.projects .title::before {
    background: white;
}

.projects .title::after {
    background: black;
    content: "What i developed";
}

.projects .container {
    margin: 0;
    padding: 0;
    width: 400px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
}

.projects .container #card {
    height: 280px;
}

.projects .container #card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    /* border-radius: 5px; */
}

.projects .container #card .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
}

.projects .container #card .slide {
    width: 550px;
    height: 200px;
    transition: 0.5s;

}

.projects .container #card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);

}

.projects .container #card:hover .slide.slide1 {
    transform: translateY(0px);
}

.projects .container #card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    /* padding-top: 40px; */
    border-radius: 0px 0px 5px 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
}

.projects .container #card:hover .slide.slide2 {
    transform: translateY(0);
}

.projects .container #card .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}

.projects .container #card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;

}

.projects .container #card .slide.slide2 .content .technology {
    font-style: italic;
    padding: 3px;
    margin: 3px 0;
    /* background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); */
    color: red;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
}

.projects .container #card .slide.slide2 .content .live_link {
    /* margin-left: 35%; */
    text-decoration: underline;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    color: white;
    /* font-weight: bold; */
    padding: 2px 10px;
    border-radius: 3px;
}

.projects .container #card .slide.slide2 .content h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 28px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
}

.projects .container .github i {
    background-color: white;
    color: black;
    z-index: 999;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    font-size: 40px;
    transition: all ease 0.5s;
}

.projects .container .github i:hover {
    background-color: red;
    color: white;
}

/*Styling From App.js */



@media (max-width: 1100px) {
    
    .projects {
        height: 1900px;
    }
    .projects .container {
        width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
    }
}

@media (max-width: 750px) {
    .container #card .slide.slide2 .content p {
        font-size: 15px;
    }

    .container #card .slide.slide2 .content h2 {
        font-size: 23px;
    }
}

@media (max-width: 600px) {
    .projects .container #card .slide {
        width: 450px;
    }
}

@media (max-width: 550px) {
    .projects .container #card .slide {
        width: 440px;
    }
}

@media (max-width: 470px) {
    .projects .container #card .slide {
        width: 400px;
    }
}

@media (max-width: 440px) {
    .projects .container #card .slide {
        width: 380px;
    }
}