
/* About Section Styling */

.about .title::after {
    content: "Who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 600px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
    margin-top: 100px;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    height: 70px;
}

.about .about-content .right .text span {
    color: red;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 8px 20px;
    /* font-size: 18px; */
    margin-top: 20px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: red;
    background: none;
}

.about .about-content {
    display: flex;
}


/* Responsive Media Query */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1500px) {
    .projects .project-content .card img {
        width: 450px;
    }

}

@media (max-width: 1100px) {

    .services {
        height: 2000px;
    }

    .home {
        height: 700px;
    }

    .projects .project-content {
        display: inline-block;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .projects .project-content .card {
        margin-left: 120px;
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .projects .project-content .card {
        margin-left: 50px;
    }

    .about .about-content .left img {
        width: 400px;
        height: 700px;
    }
}

@media (max-width: 940px) {
    .about .about-content {
        display: block;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 65%;
        left: -100%;
        top: 0;
        background: red;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
        /* font-size: 19px; */
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font: 25px;
    }

    .home .home-content  {
        max-width: 90vw;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    .navbar .logo {
        z-index: 999;
    }
}

@media (max-width: 730px) {

    .projects .project-content .card {
        margin-left: 30px;
        width: 400;
    }

    .projects .project-content .card img {
        width: 480px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 9px 25px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .about .about-content .left img {
        height: 400px;
    }

    .projects .project-content .card {
        margin-left: 30px;
        width: 500px;
    }

    .projects .project-content .card .box img {
        width: 450px !important;
    }

    .projects .project-content .card .box .btn {
        padding: 10px 100px;
        font-size: 20px;
    }

    .about .about-content .left img {
        width: 400px;
        height: 650px;
    }

    .home .right_side .box img {
        display: none;
    }

    .home .home-content {
        width: 100vw;
    }
}

@media (max-width: 580px) {
    .projects .project-content .card {
        margin-left: 10px;
        width: 430px;
        height: 370px;
    }

    .projects .project-content .card .box img {
        width: 400px !important;
    }

    .projects .project-content .card .box .btn {
        padding: 10px 100px;
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
    }

    .about .about-content .right .text {
        height: 70px;
    }

    .projects .project-content .card {
        margin-left: 10px;
        width: 400px;
        height: 370px;
    }

    .projects .project-content .card .box img {
        width: 370px !important;
    }
}

@media (max-width: 450px) {
    .scroll-up-btn {
        height: 33px;
        width: 30px;
        position: fixed;
        bottom: 35px;
        right: 20px;
        font-size: 22px;
        border-radius: 6px;
    }

    .scroll-up-btn i {
        margin-left: 6px;
    }

    .projects .project-content .card {
        margin-left: 10px;
        width: 340px;
        height: 340px;
        margin-top: 10px;
    }

    .projects .project-content .card .box img {
        width: 300px !important;
    }

    .projects .title::after {
        font-size: 18px;
    }

    .skills .skills-content .right .lines {
        height: 5px;
        width: 55%;
    }

    .skills .skills-content .right span {
        font-size: 16px;
    }


}