
/* footer section styling  */
/* footer {
    background-color: #111;
    padding: 20px 23px;
    color: white;
    text-align: center;
}

footer span a {
    color: red;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.scroll-up-btn {
    display: flex;
    background-color: red;
    height: 43px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-items: center;
    color: white;
    z-index: 999;
    font-size: 25px;
    border-radius: 6px;
    opacity: 0;
}

.scroll-up-btn i {
    margin-left: 9px;
}

.show {
    opacity: 1;
} */


