@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
}
#footer{
    /* margin-top: 100px; */
}
.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 28px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration:none;
}

footer {
  background-color:red;
  border-top: 1px solid white;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo img {
  width: 200px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 30px 0;
}

.contact-details li a {
  text-decoration:none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com ul li{
  padding:5px 0;
}
.com ul li a{
  font-size: 18px !important;
  margin: 1rem 0.5rem ;
  color: white;
}
.logobox{
  display: flex;
  flex-direction: column;
}
.logobox a{
 color: white ;
 font-size: 22px !important;
 margin: 1rem 0.5rem ;
}
.logobox i{
  margin-right: 10px;
 }

@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info{
      padding:20px 0;
  }
}

@media (max-width: 625px) {
  .main-footer {
  justify-content: center;
  text-align: center;
  align-items: center;
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 

}