@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: normal !important;
}

html {
    scroll-behavior: smooth;
}

/* Navbar Styling */
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    background-color: red;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.03 ease;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: red;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar .logo a span {
    color: white;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
}

.navbar .menu li a:hover {
    border-bottom: 1px solid white;
}

.navbar.sticky .menu li a:hover {
    text-decoration: underline;
    color: white;
}

/* hamburger */

.menu-btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* Home Section Syling styling */
.home {
    display: flex;
    background: url(../src/img/banner0.jpg) no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .home_section {
    display: flex;
    margin-top: 70px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content {
    width: 70vw;
}

.home .home-content .text {
    font-size: 20px;
    margin-top: 10px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: red;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 12px 36px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: red;
    background: none;
}

.home .right_side .box img {
    width: 300px;
    border-radius: 56% 44% 54% 46% / 63% 70% 30% 37%;
}



/* All Similar Content Styling Code  */

.about,
.services,
.skills,
.team,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}

section {
    padding: 100px 0;
}

.about .about-content .services,
.serv-content,
.skills .skills-content,
.contact,
.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    background: white;
    font-size: 20px;
    color: red;
    padding: 10px;
    transform: translateX(-50%);
}

/* About Section Styling */

.about .title::after {
    content: "Who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 600px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
    margin-top: 100px;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    height: 70px;
}

.about .about-content .right .text span {
    color: red;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 8px 20px;
    /* font-size: 18px; */
    margin-top: 20px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: red;
    background: none;
}

.about .about-content {
    display: flex;
}

/* Service Section Styling */

.services,
.team {
    background: black;
    color: white;
    height: 800px;
}

.services .title::before {
    background: white;
}

.services .title::after {
    background: black;
    content: "What i provide";
}

.services .serv-content .card {
    margin-top: 20px;
    width: calc(34% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 520px;
}

.services .serv-content .card i {
    font-size: 50px;
    color: red;
    transition: color 0.3s ease;
}

.services .serv-content .card img {
    width: 200px;
    transition: color 0.3s ease;
}

.services .serv-content .card .text {
    font-size: 27px;
    font-weight: 600;
    margin: 10px 0 7px 0;

}

.services .serv-content .card p {
    text-align: justify;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card:hover {
    background-color: red;
}

.services .serv-content .card:hover i {
    color: white;
}

/* skills Section Styling */

.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid red;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: red;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .info img {
    animation: show 2.8s ease;
    /* visibility: hidden; */
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 20px;
}

.skills .skills-content .right .lines {
    height: 5px;
    width: 60%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .lines::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: red;
}

.skills .skills-content .right .inner_line::before {
    width: 100%;
    animation: slider 2.5s linear;
}

@keyframes slider {
    0% {
        width: 1%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}

@keyframes show {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    30% {
        visibility: hidden;
    }

    40% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;

    }

    60% {
        visibility: hidden;
    }

    70% {
        visibility: hidden;
    }

    80% {
        visibility: hidden;
    }

    90% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


/* Contact section styling */

.contact .title::after {
    content: "Get In touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 20px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: red;
}

.contact .contact-content .row .info .head {
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    font-family: "poppins", sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    color: white;
    background: red;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: red;
    background: none;
}





/* footer section styling  */
footer {
    background-color: #111;
    padding: 20px 23px;
    color: white;
    text-align: center;
}

footer span a {
    color: red;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.scroll-up-btn {
    display: flex;
    background-color: red;
    height: 43px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-items: center;
    /* line-height: 45px; */
    color: white;
    z-index: 999;
    font-size: 25px;
    border-radius: 6px;
    opacity: 0;
}

.scroll-up-btn i {
    margin-left: 9px;
}

.show {
    opacity: 1;
}


/* Project Section Styling  */

.projects {
    background: black;
    color: white;
    height: 1500px;

}

.projects .title::before {
    background: white;
}

.projects .title::after {
    background: black;
    content: "What i developed";
}

.projects .project-content {
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    margin-bottom: 70px;
}

.projects .project-content .card {
    margin: 0 10px;
    /* margin-top: 20px; */
    /* width: calc(43% - 20px); */
    width: 600px;
    /* min-width: 500px; */
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 365px;
    color: white;
}

.projects .project-content .card img {
    width: 550px !important;
}

.projects .project-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .project-content .card .box {
    transition: all 0.3s ease;
}

.projects .project-content .card .box .live-demo {
    margin-top: 25px;
}

.projects .project-content .card .box .btn {
    background-color: red;
    border-radius: 2px;
    padding: 10px 210px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.projects .project-content .card:hover .box {
    transform: scale(1.05);
}

.projects .project-content .card:hover {
    background-color: red;
}

.projects .project-content .card:hover i {
    color: white;
}

.projects .project-content .card:hover .btn {
    background: #222;
    color: red;
}

/* Responsive Media Query */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1500px) {
    .projects .project-content .card img {
        width: 450px;
    }


}

@media (max-width: 1100px) {
    /* .about .about-content .left img {
        height: 350px;
        width: 350px;
    } */

    .projects {
        height: 2350px;
    }

    .services {
        height: 2000px;
    }

    .home {
        height: 700px;
    }

    .projects .project-content {
        display: inline-block;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .projects .project-content .card {
        margin-left: 120px;
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .projects .project-content .card {
        margin-left: 50px;
    }

    .about .about-content .left img {
        width: 400px;
        height: 700px;
    }
}

@media (max-width: 940px) {
    .about .about-content {
        display: block;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 65%;
        left: -100%;
        top: 0;
        background: red;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
        /* font-size: 19px; */
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    .navbar .logo {
        z-index: 999;
    }
}

@media (max-width: 730px) {

    .projects .project-content .card {
        margin-left: 30px;
        width: 400;
    }

    .projects .project-content .card img {
        width: 480px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 9px 25px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .about .about-content .left img {
        height: 400px;
    }

    .projects .project-content .card {
        margin-left: 30px;
        width: 500px;
    }

    .projects .project-content .card .box img {
        width: 450px !important;
    }

    .projects .project-content .card .box .btn {
        padding: 10px 100px;
        font-size: 20px;
    }

    .about .about-content .left img {
        width: 400px;
        height: 650px;
    }

    .home .right_side .box img {
        display: none;
    }

    .home .home-content {
        width: 100vw;
    }
}

@media (max-width: 580px) {
    .projects .project-content .card {
        margin-left: 10px;
        width: 430px;
        height: 370px;
    }

    .projects .project-content .card .box img {
        width: 400px !important;
    }

    .projects .project-content .card .box .btn {
        padding: 10px 100px;
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
    }

    .about .about-content .right .text {
        height: 70px;
    }

    .projects .project-content .card {
        margin-left: 10px;
        width: 400px;
        height: 370px;
    }

    .projects .project-content .card .box img {
        width: 370px !important;
    }
}

@media (max-width: 450px) {
    .scroll-up-btn {
        height: 33px;
        width: 30px;
        position: fixed;
        bottom: 35px;
        right: 20px;
        font-size: 22px;
        border-radius: 6px;
    }

    .scroll-up-btn i {
        margin-left: 6px;
    }

    .projects .project-content .card {
        margin-left: 10px;
        width: 340px;
        height: 340px;
        margin-top: 10px;
    }

    .projects .project-content .card .box img {
        width: 300px !important;
    }

    .projects .title::after {
        font-size: 18px;
    }

    .skills .skills-content .right .lines {
        height: 5px;
        width: 55%;
    }

    .skills .skills-content .right span {
        font-size: 16px;
    }


}